<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Ingresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div #header class="ion-align-items-center ion-text-center">
  <h1>Messages Room</h1>
  <img src="assets/img/icon_message.jpg">

</div>
  <form [formGroup]="form" class="ion-padding">
    <ion-item class="ion-margin">
      <ion-toggle formControlName="register" class="ion-text-right"></ion-toggle>
      <span >Registrar</span>
    </ion-item>
    <ion-item class="ion-margin" #emailConten>
      <ion-label>Correo</ion-label>
      <ion-input formControlName="email" ></ion-input>
    </ion-item>
    <div class="validation-error ion-margin">
      <ng-container *ngFor="let error of email">
        <span style="color: #cf3c4f"
          *ngIf="(form.get('email').hasError(error.type) && form.get('email').dirty)">
          {{error.message}}
        </span>
      </ng-container>
    </div>
    <ion-item class="ion-margin">
      <ion-label>Password</ion-label>
      <ion-input type="{{viewPassword ? 'text' : 'password'}}" formControlName="password"></ion-input>
      <ion-icon name="glasses-outline" (click)="onViewPassword()"></ion-icon>
    </ion-item>
    <div class="validation-error ion-margin">
      <ng-container *ngFor="let error of password">
        <span style="color: #cf3c4f"
          *ngIf="(form.get('password').hasError(error.type) && form.get('password').dirty)">
          {{error.message}}
        </span>
      </ng-container>
    </div>
    <div class="ion-padding ion-text-center ion-align-items-center">
      <ion-button [disabled]="form.invalid" class="ion-text-center" expand="block" (click)="onSave()">
        {{form.get('register').value ? 'Registrase' : 'Enviar'}}
      </ion-button>
    </div>
    <div class="ion-padding ion-text-center ion-align-items-center">
      <ion-button fill="outline" class="ion-text-center" expand="block" (click)="onGoogle()">
        <img style="width: 20px; height: 20px" src="assets/icon/google_icon.png">
        <span style="margin-left: 8px">Ingresar con Google</span>
      </ion-button>
    </div>
  </form>
</ion-content>
