<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="user">
      <img style="width: 35px; border-radius: 50px" src="{{user?.photo}}">
      <span class="ion-margin">{{user.name}}</span>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Sala de Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  &lt;!&ndash;<app-explore-container name="{{user?.name}}"></app-explore-container>&ndash;&gt;
</ion-content>-->
<ion-content #contentChat [fullscreen]="true" scroll>
  <ng-container *ngFor="let item of messages">
    <ion-card class="ion-color-primary" [ngClass]="(item.user_id !== user.id) ? 'ion-margin-end' : 'ion-margin-start'">
      <ion-card-header (click)="onSelectUser(item)">
        <ion-card-title >{{(item.name === user.name) ? 'Yo' : item.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p style="color: #cf3c4f" class="ion-text-right">{{item.create_at | date: validDay(item.create_at) ? 'hh:mm a' : 'EEEE, hh:mm a'}}</p>

        {{item.message}}
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>

<ion-footer [formGroup]="form">
  <ion-item>
    <ion-input placeholder="Mensaje" formControlName="message"></ion-input>
    <ion-buttons end>
      <ion-button (click)="onSendMessage()"><ion-icon name="send"></ion-icon></ion-button>
    </ion-buttons>
  </ion-item>

</ion-footer>
